# Managed by arca
# Template version: {{ template_version }}
# Config version: {{ config_version }}

NFS_CORE_PARAM {
    Protocols = {{ protocols }};
    NFS_Port = 2049;
    MNT_Port = {{ mountd_port }};
{% if enable_v3 %}
    NLM_Port = {{ nlm_port }};
{% endif %}
}

EXPORT_DEFAULTS {
    Access_Type = RW;
    Squash = Root_Squash;
}

{% for exp in exports %}
EXPORT {
    Export_Id = {{ exp.export_id }};
    Path = "{{ exp.path }}";
    Pseudo = "{{ exp.pseudo }}";
    Protocols = {{ protocols }};
    Access_Type = {{ exp.access }};
    Squash = {{ exp.squash }};
    SecType = {{ exp.sec_render }};
    CLIENT {
        Clients = "{{ exp.client }}";
    }
    FSAL {
        Name = VFS;
    }
}
{% endfor %}
