apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: csi-arca-storage-controller
  namespace: kube-system
spec:
  template:
    spec:
      containers:
        - name: csi-driver
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
        - name: csi-provisioner
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
        - name: csi-snapshotter
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
        - name: csi-resizer
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
