---
- name: Prepare
  hosts: all
  become: true
  gather_facts: false

  tasks:
    - name: Install Python
      ansible.builtin.raw: |
        if ! command -v python3 >/dev/null 2>&1; then
          dnf install -y python3
        fi
      changed_when: false

    - name: Gather facts
      ansible.builtin.setup:

    - name: Install base packages for testing
      ansible.builtin.package:
        name:
          - iproute
          - util-linux
          - systemd
        state: present
