# Managed by Arca Storage
[Unit]
Description=NFS-Ganesha Service for SVM %i (host namespace)
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/arca-storage/arca-storage.env
ExecStart=/usr/bin/ganesha.nfsd -f ${ARCA_GANESHA_CONFIG_DIR}/ganesha.%i.conf
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/ganesha.%i.pid

[Install]
WantedBy=multi-user.target
