apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

resources:
  - ../../crds  # CRDs must be installed before controller starts
  - ../../csidriver.yaml
  - ../../rbac-controller.yaml
  - ../../rbac-node.yaml
  - ../../controller-statefulset.yaml
  - ../../node.yaml

images:
  - name: csi-arca-storage
    newName: ghcr.io/akam1o/csi-arca-storage
    newTag: latest

configMapGenerator:
  - name: csi-arca-storage-config
    behavior: merge
    files:
      - config.yaml

secretGenerator:
  - name: csi-arca-storage-secret
    literals:
      - auth-token=REPLACE_ME

generatorOptions:
  disableNameSuffixHash: true

commonLabels:
  app.kubernetes.io/name: csi-arca-storage
  app.kubernetes.io/component: storage
