# Test dependencies for ARCA Storage OpenStack Manila tests

-r ../../../test-requirements.txt

oslo.config>=9.0.0
oslo.log>=5.0.0
oslo.concurrency>=5.0.0
python-neutronclient>=7.0.0
keystoneauth1>=5.0.0
