name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  python-tests:
    uses: ./.github/workflows/python-tests.yml

  ansible-lint:
    uses: ./.github/workflows/ansible-lint.yml
